extends layout

block content
  form(action="/exit-game" method="POST")
    button Exit game
  
  if error 
    h2= error 

  if choosePreviousName 
    form(action="/player-one-name" method="POST")
      for player in registeredPlayers 
        button(name="registeredPlayer" value=player) #{player}

  if registeredPlayers && registeredPlayers.length > 0 && !addNewName && !choosePreviousName
    h2 Player 1, would you like to choose a previously registered name or register a new name?
    form(action="/player-one-name" method="POST")
      div.checkbox-group(required)
        input(type="checkbox" name="add_new_name")
        label(for="add_new_name") Register a new player
        input(type="checkbox" name="choose_previous_name")
        label(for="choose_previous_name") Choose a previously registered name
      button Submit

  else if !choosePreviousName
    h2 Player 1, please enter your player name:
    form(action="/player-one-name" method="POST")
      label(for="add_player_one_name") Your name:
      input(type="text" required name="add_player_one_name")
      button Submit